:root {
  --background-main: #e7eaf2;
  --text-background-white: #ffffff;
  --text-placeholder: #bdbdbd;
  --text-border-black: #000000;
  --text-border-inactive: #e0e0e0;
  --text-border-icon-blue: #4a56e2;
  --accent-color-ok: #24cca7;
  --accent-color-alert: #ff6596;
  --stroke-color: #e5f1ef;
  --border-icon-gray: #e0e0e0;
  --breakpoint-desktop: 1280px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 320px;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
  font-family: var(--main-font);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
